@mixin full-size {
  width: 100%;
  height: 100%;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .image {
    @include full-size();
    position: relative;
    &:hover .left,
    &:hover .right {
      opacity: 1;
    }

    img {
      @include full-size();
    }

    .left,
    .right {
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: black;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: all 0.25s;
      svg {
        width: 20px;
      }

      &:hover {
        transform: translateY(-50%) scale(1.15);
      }
      &:active {
        transform: translateY(-50%);
      }
    }

    .left {
      left: 5px;
    }
    .right {
      right: 5px;
    }
  }

  .details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 100%;
    text-decoration: none;
    color: inherit;
    .name {
      font-size: 15px;
    }
    .price {
      font-size: 13px;
    }
  }
}
