.cartitem {
  display: flex;

  img {
    max-width: 100px;
    width: 100%;
    cursor: pointer;
  }
  .rightsec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    font-size: 13px;
    padding: 15px;

    .details {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .botsec {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .qty {
        display: flex;
        border: 1px solid rgb(218, 218, 218);
        width: 77px;
        button {
          background: none;
          padding: 5px 10px;
          font-size: 18px;
          border: none;
          cursor: pointer;
          transition: all 0.25s;
          &:hover {
            background: rgb(218, 218, 218);
          }
          &:active {
            background: rgb(206, 206, 206);
          }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input {
          text-align: center;
          width: 20px;
          border: none;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
